<article>
  
  <h2> Article title </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet efficitur risus. Cras vehicula diam ut magna dictum, eu maximus ex viverra. Nunc scelerisque auctor aliquam. Phasellus efficitur eros vel orci rhoncus congue. Aliquam sed eleifend urna. Vivamus non lobortis magna. Quisque suscipit sit amet justo ut hendrerit. Praesent lorem magna, tempor non tellus id, vehicula placerat felis. Pellentesque egestas gravida sem quis maximus. Quisque magna ex, laoreet a urna at, finibus congue turpis. Cras facilisis vel arcu ut imperdiet. Proin sit amet sodales magna.
  </p>
  <button type="button" class="btn btn-primary">Like</button>

</article>
